{% extends 'base-admin.html.twig' %}

{% block title %}Enleveur{% endblock %}

{% block page_title %}Enleveur{% endblock %}
{% block page_title2 %}Enleveur{% endblock %}
{% block page_subtitle %}{{ remover.fullname }}{% endblock %}

{% block page_content %}
    <div class="row pb-3">
        <div class="col-12 col-sm-12 col-md-12">
            <a class="btn btn-default" href="{{ path('remover_index') }}"><i class="fas fa-reply"></i> Mes Enleveurs</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-eye"></i> Enleveur</h3>
          {#<div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fas fa-times"></i></button>
          </div>#}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 offset-md-3 offset-sm-2">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Nom</th>
                            <td>{{ remover.fullname }}</td>
                        </tr>
                        <tr>
                            <th>N° Téléphone</th>
                            <td>{{ remover.phone }}</td>
                        </tr>
                        <tr>
                            <th>E-mail</th>
                            <td>{{ remover.email }}</td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td>{{ remover.address }}</td>
                        </tr>
                        <tr>
                            <th>Enregistré le</th>
                            <td>
                              {{ remover.createdAt ? remover.createdAt|date('d-m-Y') ~ ' à ' ~ remover.createdAt|date('H:i:s') : '' }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <button data-id="{{ remover.id }}" id="remover-show-cin" class="btn btn-default"><i class="fas fa-address-card"></i> Afficher la Carte Nationnal d'Identité</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-sm-8 col-md-6 offset-md-3 offset-sm-2">
                  {{ include('remover/_delete_form.html.twig', {label: 'Supprimer'}) }}
                    <a class="btn btn-primary float-right" href="{{ path('remover_edit', {'id': remover.id}) }}"><i class="fas fa-edit"></i> Editer</a>
                </div>
            </div>
        </div>
      {#<div class="card-footer">
          Footer
      </div>#}
    </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('remover') }}
{% endblock %}

