{% extends 'base.html.twig' %}

{% block title %}Inform{% endblock %}

{% block body %}
    <h1>Inform</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inform.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ inform.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ inform.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ inform.createdAt ? inform.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('inform_index') }}">back to list</a>

    <a href="{{ path('inform_edit', {'id': inform.id}) }}">edit</a>

    {{ include('inform/_delete_form.html.twig') }}
{% endblock %}
