{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
  <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
    <h1 class="text-center">Inscription</h1>
    {% for flashError in app.flashes('verify_email_error') %}
      <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
    {% if form_errors(registrationForm) %}
      <div class="alert alert-danger" role="alert">{{ form_errors(registrationForm) }}</div>
    {% endif %}

    {{ form_row(registrationForm.username) }}
    <div class="row">
      <div class="col-sm-6 ml-0 d-inline">
        {{ form_row(registrationForm.name) }}
      </div>
      <div class="col-sm-6 mr-0 d-inline">
        {{ form_row(registrationForm.lastName) }}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 d-inline">
        {{ form_row(registrationForm.phone) }}
      </div>
      <div class="col-sm-6 d-inline">
        {{ form_row(registrationForm.email) }}
      </div>
    </div>

    {{ form_row(registrationForm.address) }}
    {{ form_row(registrationForm.profil) }}
    {{ form_row(registrationForm.plainPassword) }}

    <div class="row">
      <div class="col-sm-6 d-inline">
        {{ form_row(registrationForm.agreeTerms) }}
      </div>
      <div class="col-sm-6 d-inline text-right">
        <button class="btn btn-success" type="submit">
          <i class="fa fa-user"></i>S'enregistrer
        </button>
        {#{{ form_row(registrationForm.save) }}#}
      </div>
    </div>
    {{ form_end(registrationForm) }}
  </div>
{% endblock %}
