{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


    <h1>Register</h1>
    {% for flashError in app.flashes('verify_email_error') %}
      <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {% if form_errors(registrationForm) %}
      <div class="alert alert-danger" role="alert">{{ form_errors(registrationForm) }}</div>
    {% endif %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.name, {
            label: 'Prénom'
        }) }}
        {{ form_row(registrationForm.lastName, {
            label: 'Nom'
        }) }}
        {{ form_row(registrationForm.phone, {
            label: 'Téléphone'
        }) }}
        {{ form_row(registrationForm.email, {
            label: 'Email'
        }) }}
        {{ form_row(registrationForm.address, {
            label: 'Adresse'
        }) }}
        {{ form_row(registrationForm.profil, {
            label: 'Profil'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
