{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
<div class="container">
  {% if registration %}
    <script type="application/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        alert('Inscription effectuée avec succès! Veuillez comfimer votre mail pour vous connecter.')
      })
    </script>
  {% endif %}
  {% for message in app.session.flashbag.get('emailVerifySuccessfully') %}
    <script type="application/javascript">
      alert('{{ message|raw }}')
    </script>
  {% endfor %}
  {% if onTheVerificationWay %}
    <script type="application/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        alert('Merci de vous connecter pour finaliser votre inscription.')
      })
    </script>
  {% endif %}
  {% if emailNotVerified %}
    <script type="application/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        alert('Veuillez comfimer votre mail pour vous connecter.')
        window.location = '/logout'
      })
    </script>
  {% endif %}
  {% if blocked_user %}
    <script type="application/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        alert('Votre compte a été bloqué. Veuillez contacter un administrateur.')
        window.location = '/logout'
      })
    </script>
  {% endif %}

  {% include 'guest/home/partial/header.html.twig' %}

  {% include 'guest/home/partial/info_login.html.twig' %}

  {% include 'guest/home/partial/zoom.html.twig' %}

  {% include 'guest/home/partial/info_plus.html.twig' %}

  {% include 'guest/home/partial/footer.html.twig' %}
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('home') }}
{% endblock %}
