<!-- menu top -->
<section class="container-fluid">
  <div class="text-center">
    <div class="menu-top d-none d-md-flex flex-row m-md-auto">
      <div class="flex-fill btn-plus menu-top-item">Contact/Aide</div>
      <div class="flex-fill">|</div>
      <div class="flex-fill btn-plus menu-top-item">Nous joindre</div>
      <div class="flex-fill">|</div>
      <div class="flex-fill btn-plus menu-top-item">Plan du site</div>
      <div class="flex-fill">|</div>
      <div class="flex-fill btn-plus menu-top-item">Plan d'accès</div>
      <div class="flex-fill">|</div>
      <div class="flex-fill btn-plus menu-top-item">Condition d'utilisation</div>
      <div class="flex-fill">|</div>
      <div class="flex-fill btn-plus menu-top-item">Mentions légales</div>
    </div>
  </div>
</section>
<!-- /menu top -->

<!-- menu principal -->
<section class="container-fluid">
  <div class="d-flex flex-column flex-sm-row">
    <div class="flex-fill">
      <img width="100%" src="{{ asset('build/images/guest/logo.jpg') }}" alt="Logo USAT-BENIN">
    </div>
    <div class="flex-fill">
      <div class="flex-column">
        <div class="d-none d-sm-flex title">
          <img width="100%" src="{{ asset('build/images/guest/tel.jpg') }}" alt="Definition sigle USAT">
        </div>
        <div class="d-flex flex-row flex-wrap second-menu">
          <div class="flex-fill btn btn-outline-primary m-sm-1">
            <span class="btn-ambition">NOTRE AMBITION</span>
          </div>
          <div class="flex-fill btn btn-outline-primary m-sm-1">
            <span class="btn-service">NOS SERVICES</span>
          </div>
          <div class="flex-fill btn btn-outline-primary m-sm-1">
            <span class="btn-contacte">CONTACTEZ-NOUS</span>
          </div>
          <div class="flex-fill btn btn-outline-primary m-sm-1">
            {% if app.user %}
              <a href="{{ path('security_check_user_profil') }}"><span class="btn-enregistrement pl-2 pr-2">Espace Utilisateur</span></a>
            {% else %}
              <a href="{{ path('app_register') }}"><span class="btn-enregistrement">ENREGISTREMENT</span></a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="flex-column">
      </div>
    </div>
  </div>
</section>
<!-- /menu principal -->

<div class="col-12 col-sm-12 col-md-12 body">
  <div class="details ambition row mt-0 mb-2 ml-0 pl-0" style="position: absolute; z-index: 20; background-color: white; margin-right: 0px; display: none;">
    <div class="col-12 col-sm-2 col-md-2 logo">
      <img src="{{ asset('build/images/guest/jarre.jpg') }}" alt="Symbole Jarre">
    </div>
    <div class="col-12 col-ms-10 col-md-10 large-logo text-justify">
      Rendre visibles les merveilleuses réformes. La souscription à la police d’assurance pour tous les véhicules
      d’occasion avant leurs transferts vers les différents parcs de vente en application du code CIMA et finir
      définitivement avec le phénomène des multiples faux frais lors des enlèvements desdits véhicules par les
      transitaires mandataires.
      <br>
      <a class="mt-1 btn-plus" href="http://usat.test/#">&gt;&gt; En savoir plus</a><br>
      <p class="mt-3 mb-0"><b>PARTENARIART : USAT - CCIB - MIT - The NewWays Enterprise</b></p>
    </div>
  </div>
  <div class="details services row mt-0 mb-2"
       style="position: absolute; width: 100%; z-index: 20; background-color: white; margin-right: 0px; display: none;">
    <div class="col-12 col-sm-12 col-md-10 offset-md-2">
      <ul class="mt-3">
        <li class="mb-2">Assurance des véhicules d’occasion avant leurs transferts vers les différents parcs de
          vente.
        </li>
        <li>Venir au secours des acteurs lors de la sortie des véhicules sans aucuns faux frais.</li>
      </ul>
    </div>
  </div>
  <div class="details contacte row mt-0 mb-2"
       style="position: absolute; width: 100%; z-index: 20; background-color: white; margin-right: 0px; display: none;">
    <div class="col-12 col-sm-2 col-md-2 logo">
    </div>
    <div class="col-12 col-sm-10 col-md-10 offset-md-2">
      <ul class="mt-3">
        <li class="mb-2"><b>Adresse: </b>Carré 4233 Lot 40 Zone Résidentielle Camp Guézo, Cotonou</li>
        <li><b>E-mail: </b>usatbenin@gmail.com</li>
        <li><b>Téléphone: </b> +229 97 98 34 78 / +229 96 07 53 84</li>
      </ul>
    </div>
  </div>

  <div class="carousele mb-0" style="z-index: -15">
    <img class="img-carousel" id="imgc1" src="{{ asset('build/images/guest/img.jpg') }}" alt="Image Parcking" style="display: none">
    <img class="img-carousel" style="display: none" id="imgc2" src="{{ asset('build/images/guest/img2.jpg') }}" alt="Image Parcking">
    <img class="img-carousel" id="imgc3" style="" src="{{ asset('build/images/guest/img3.jpg') }}" alt="Image Parcking">
  </div>
</div>