<div class="col-12 col-sm-12 col-md-12 pl-1 pr-2 body">
  <div class="row p-2">
    <div class="col-12 col-sm-4 p-2 pl-0">

      <div class="parc-container col-12 text-center pl-0 pr-0">
        <h3 class="parc-title mb-3 p-2">Parcs de ventes</h3>
        <p>Liste des gestionnaires de parc. Veuillez selectionner un parc pour voir ses informations</p>
        {{ form_start(parc, {action: path('guest_show_fleet')}) }}
          <div class="form-group m-2">
            {{ form_widget(parc.fleet) }}
          </div>
          <div class="form-group mt-3 mb-2">
            <button id="guest-show-fleet" class="btn btn-info pl-4 pr-4">
              Afficher Info
            </button>
          </div>
        {{ form_end(parc) }}
      </div>

      <div class="parc-container col-12 text-center pl-0 pr-0 mt-3">
        <h3 class="parc-title mb-3 p-2">Commissionnaires</h3>
        <p>Liste des commissionnaires agréés en Douanes. Veuillez selectionnner un commissionnaire pour afficher ses
          informations</p>
        {{ form_start(commissionnaire, {action: path('guest_show_agent')}) }}
        <div class="form-group m-2">
          {{ form_widget(commissionnaire.agent) }}
        </div>
        <div class="form-group mt-3 mb-2">
          <button id="guest-show-agent" class="btn btn-info pl-4 pr-4">
            Afficher Info
          </button>
        </div>
        {{ form_end(commissionnaire) }}
      </div>

    </div>


    <div class="col-sm-8">
      <div class="row">
        <div class="col-12 col-sm-7 p-1 pl-1">
          <div class="info text-justify mr-2">
            <h5 style="
    text-align: center;
    color: RED;
    font-weight: bolder;
">COMMUNIQUES URGENTS</h5>
            <ul>
              <li class="mb-3">Depuis le 1er mars 2020, le Gouvernement du Bénin accorde une réduction de 30% sur les
                droits de douane des véhicules d'occasion acquis et mis à la consommation au Bénin...
                <a class="btn-plus" href="http://usat.test/#">&gt;&gt; Lire la suite</a></li>
              <li>D'importants dégâts enregistrés dans un incendie le dimanche 15 mars 2020 sur le parc automobile de
                vente de véhicules d'occasion Micha à Sèkandji. Des douzaines de voitures ont été touchées par les
                flammes...
                <a class="btn-plus" href="http://usat.test/#">&gt;&gt; Lire la suite</a></li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-sm-5 p-1 pl-1">
          {#Login form#}
          {% if login_form != 0 %}
            {{ login_form|raw }}
          {% else %}
            {{ render(controller('App\\Controller\\SecurityController::login_form')) }}
          {% endif %}
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-6">
          <div class="img">
            <img width="100%" src="{{ asset('build/images/guest/rubon1-ad5fc.png') }}" alt="">
          </div>
          <div class="text">
            <ul>
              <li><a href="#">Usat-Bénin et ses structures de fonctionnement</a></li>
              <li><a href="#">Historique de la filière et Recommandations</a></li>
            </ul>
          </div>
        </div>

        <div class="col-6">
          <div class="img">
            <img width="100%" src="{{ asset('build/images/guest/rubon3-920f9.png') }}" alt="">
          </div>
          <div class="text">
            <ul>
              <li><a href="#">Forme et système juridique</a></li>
              <li><a href="#">Activités et les cibles</a></li>
              <li><a href="#">Visions, Missions et Objectifs de Usat-Benin</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>