<div class="d-none d-sm-block col-sm-12 col-md-12 mt-2 pl-1 pr-2 pb-5 body">
  <div class="row">
    <div class="col-7 text-center">
      <img src="{{ asset('build/images/guest/auto1.png') }}" id="auto1" alt="Auto" style="display: none">
      <img style="display: none" id="auto2" src="{{ asset('build/images/guest/auto3.png') }}" alt="Auto">
      <img style="display: none" id="auto3" src="{{ asset('build/images/guest/auto4.png') }}" alt="Auto">
      <img style="display: none" id="auto4" src="{{ asset('build/images/guest/auto5.png') }}" alt="Auto">
      <img style="" id="auto5" src="{{ asset('build/images/guest/auto2.png') }}" alt="Auto">
    </div>
    <div class="col-5 mt-5">
      <div>
        <h4 style="background-color:#007bff" class="p-3 pl-0">Global Zoom &amp; Code CIMA</h4>
        <p>
          Tout connaitre sur la procédure de transfert de vos véhicules depuis le port vers les parcs<br>
          <a class="btn-plus" href="http://usat.test/#">&gt;&gt; Lire la suite</a>
        </p>
        <p>
          Tout connaitre sur la procédure d'enlèvement de vos véhicules des différents parcs<br>
          <a class="btn-plus" href="http://usat.test/#">&gt;&gt; Lire la suite</a>
        </p>
      </div>
    </div>
  </div>
</div>