<div class="d-none d-sm-block col-sm-12 col-md-12 pl-1 pr-2 mt-0 mb-0 pt-0 pb-0 body">
  <div class="row mt-0 mb-0 pt-0 pb-0">
    <div class="col-7 text-center">
      <img src="{{ asset('build/images/guest/auto1.png') }}" id="auto1" alt="Auto" style="display: none">
      <img style="display: none" id="auto2" src="{{ asset('build/images/guest/auto3.png') }}" alt="Auto">
      <img style="display: none" id="auto3" src="{{ asset('build/images/guest/auto4.png') }}" alt="Auto">
      <img style="display: none" id="auto4" src="{{ asset('build/images/guest/auto5.png') }}" alt="Auto">
      <img style="" id="auto5" src="{{ asset('build/images/guest/auto2.png') }}" alt="Auto">
    </div>
    <div class="col-5 mt-5">
      <div>
        <h4 style="background-color:#007bff" class="p-3 pl-0">Global Zoom &amp; Code CIMA</h4>
        <p class="text-justify">L&rsquo;une&nbsp; des insuffisances&nbsp; de l&rsquo;arr&ecirc;t&eacute; en cours dans le secteur des v&eacute;hicules d&rsquo;occasion au Benin, est la non application du code CIMA. Les v&eacute;hicules d&rsquo;occasion lors de leurs Transferts du P.T.U&nbsp; SOBEMAP et...</p>
        <a class="btn-pls" data-toggle="modal" data-target="#modal-zoom" href="#">&gt;&gt; Lire la suite</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-zoom">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Global Zoom &amp; Code CIMA</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; L&rsquo;une&nbsp; des insuffisances&nbsp; de l&rsquo;arr&ecirc;t&eacute; en cours dans le secteur des v&eacute;hicules d&rsquo;occasion au Benin, est la non application du code CIMA. Les v&eacute;hicules d&rsquo;occasion lors de leurs Transferts du P.T.U&nbsp; SOBEMAP et P.T.U&nbsp; RORO vers les parcs &nbsp;de vente&nbsp; de v&eacute;hicules d&rsquo;occasion ne souscrivent &agrave; aucune police d&rsquo;assurances &agrave; ce jour.</p>

        <ul>
          <li>D&eacute;faut d&rsquo;un r&eacute;pertoire unique des conducteurs de v&eacute;hicules d&rsquo;occasion (badges magn&eacute;tiques du Port de Cotonou),</li>
          <li>D&eacute;faut d&rsquo;une bonne organisation, les v&eacute;hicules d&rsquo;occasion lors de leurs transferts vers les parcs de vente cr&eacute;ent souvent des embouteillages terribles lors de leurs transferts &agrave; l&rsquo;int&eacute;rieur du Port de Cotonou,</li>
          <li>L&rsquo;exc&egrave;s de vitesse, avec parfois des conducteur sans permis de conduire causent souvent des accidents graves &agrave; l&rsquo;int&eacute;rieur du Port, soit entre les v&eacute;hicules d&rsquo;occasion eux-m&ecirc;mes ou soit avec les autres usagers,</li>
          <li>L&rsquo;impatience de certains conducteurs et ne respectant pas l&rsquo;ordre de lancement causent souvent des accidents graves de circulation sur le tron&ccedil;on du transfert (des d&eacute;g&acirc;ts et parfois des morts). Certaines r&eacute;alisations du Gouvernement &agrave; co&ucirc;t de milliards sont r&eacute;guli&egrave;rement endommag&eacute;es sans aucunes prises en charge par les compagnies d&rsquo;assurances.</li>
        </ul>

        <p><strong>NB</strong><strong>&nbsp;:</strong> Il est donc urgent d&rsquo;appliquer sans d&eacute;lais le code CIMA, en son article 200 alin&eacute;a 1, le respect de la loi N&deg;65-1 du 04 Mars 1965 et son arr&ecirc;t&eacute; d&rsquo;application N&deg;499/MF/DI du 25 Juin 1971, rendant obligatoire la souscription &agrave; une police d&rsquo;assurances &agrave; responsabilit&eacute; civile pour tous utilisateurs de v&eacute;hicules &agrave; moteur terrestre devant se d&eacute;placer du d&eacute;barquement(QUAI) jusqu&rsquo;aux parcs de vente.&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</p>

      </div>

      <div class="modal-footer text-left">
        <button type="reset" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
