<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box {{ type_bloc }}">
    <div class="inner">
      <h3>{{ total_item }}</h3>

      <p>{{ name_bloc }}</p>
    </div>
    <div class="icon">
      <i class="{{ icon_bloc }}"></i>
    </div>
    <a href="{{ link_more_info }}" class="small-box-footer">Plus d'info <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>