<li class="nav-item dropdown user-menu">
  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <img src="{{ asset('img/user/default.jpg') }}" class="user-image img-circle elevation-2" alt="User Image">
    <span class="d-none d-md-inline">{{ app.user.fullname }}</span>
  </a>
  <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <li class="user-header bg-primary">
      <img src="{{ asset('img/user/default.jpg') }}" class="img-circle elevation-2" alt="User Image">
      <p>
        {{ app.user.fullname }} <br>
        {{ app.user.profil.name }}
        <small>Membre depuis le {{ app.user.createdAt|date('d/m/Y') }}</small>
      </p>
    </li>
    <li class="user-footer">
      <a href="#" class="btn btn-default btn-flat">Profil</a>
      <a href="{{ path('app_logout') }}" class="btn btn-default btn-flat float-right">Déconnexion</a>
    </li>
  </ul>
</li>
