{% extends 'base-admin.html.twig' %}

{% block title %}Importateur{% endblock %}

{% block page_title %}Importateur {% endblock %}
{% block page_title2 %}Importateur {% endblock %}
{% block page_subtitle %}{{ importer.name }}{% endblock %}

{% block page_content %}
  <div class="row pb-3">
    <div class="col-12 col-sm-12 col-md-12">
      <a class="btn btn-default" href="{{ path('importer_index') }}"><i class="fas fa-reply"></i> Mes Importateurs</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title"><i class="fas fa-eye"></i> Importateur</h3>
      {#<div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
      </div>#}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-8 col-md-6 offset-md-3 offset-sm-2">
          <table class="table">
            <tbody>
            <tr>
              <th>Raison sociale</th>
              <td>{{ importer.name }}</td>
            </tr>
            <tr>
              <th>N° Téléphone</th>
              <td>{{ importer.phone ? importer.phone : '-' }}</td>
            </tr>
            <tr>
              <th>E-mail</th>
              <td>{{ importer.email ? importer.email : '-' }}</td>
            </tr>
            <tr>
              <th>Adresse</th>
              <td>{{ importer.address ? importer.address : '-' }}</td>
            </tr>
            <tr>
              <th>Créer le</th>
              <td>{{ importer.createdAt ? importer.createdAt|date('d/m/Y H:i:s') : '-' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 col-sm-8 col-md-6 offset-md-3 offset-sm-2">
          {{ include('importer/_delete_form.html.twig', {label: 'Supprimer'}) }}
          <a class="btn btn-primary float-right" href="{{ path('importer_edit', {'id': importer.id}) }}"><i class="fas fa-edit"></i> Editer</a>
        </div>
      </div>
    </div>
    {#<div class="card-footer">
        Footer
    </div>#}
  </div>
{% endblock %}

