{{ form_start(form) }}

    {{ form_row(form.chassis) }}
    {{ form_row(form.brand) }}
    {{ form_row(form.ship) }}
    {{ form_row(form.consignee) }}

    {#{{ form_row(form.importer) }}#}
    <div class="input-group">
      {{ form_label(form.importer) }}
    </div>
    <div class="input-group pb1em">
      {{ form_widget(form.importer) }}
      <span class="input-group-btn">
        <button type="button" id="vehicle-new-importer" data-toggle="modal" data-target="#modal-vehicle-new-importer" class="btn btn-primary">
          <i class="fas fa-plus-circle"></i> Nouveau
        </button>
      </span>
    </div>

    {{ form_row(form.putInUseAt) }}
    {{ form_row(form.cameAt) }}

    <div class="row text-right">
      <div class="col-md-12">
        <button class="btn btn-success"><i class="fas fa-save"></i> {{ button_label|default('Enregistrer') }}</button>
      </div>
    </div>
{{ form_end(form) }}


