{% extends 'base-admin.html.twig' %}

{% block title %}Liste des Véhicules{% endblock %}

{% block page_title %}Véhicules{% endblock %}
{% block page_title2 %}Véhicules{% endblock %}
{% block page_subtitle %}Liste{% endblock %}

{% block page_content %}
  {#<div class="row pb-3">
    <div class="col-12 col-sm-12 col-md-12">
      <a class="btn btn-default" href="{{ path('vehicle_new') }}"><i class="fas fa-plus-circle"></i> Nouveau
        Véhicule</a>
    </div>
  </div>#}
  <div class="row pb-3">
    <div class="col-12 col-sm-12 col-md-12">
      <a class="btn btn-default" href="{{ path('transfer_new') }}"><i class="fas fa-plus-circle"></i> Nouvelle Demande</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title"><i class="fas fa-list"></i> Liste des Véhicules</h3>
      {#<div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
      </div>#}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
          <table class="table">
            <thead>
            <tr>
              <th>&ensp;Marque</th>
              <th class="text-center">Châssis</th>
              <th class="text-center">Arrivé le</th>
              <th class="text-right">Action&ensp;</th>
            </tr>
            </thead>
            <tbody>
            {% for vehicle in vehicles %}
              <tr>
                <td>{{ vehicle.brand.name }}</td>
                <td class="text-center">{{ vehicle.chassis }}</td>
                <td class="text-center">{{ vehicle.cameAt ? vehicle.cameAt|date('d/m/Y') : '' }}</td>
                <td class="text-right">
                  <a class="btn btn-primary" href="{{ path('vehicle_show', {'id': vehicle.id}) }}"><i
                            class="fas fa-eye"></i></a>
                  {#<a class="btn btn-primary" href="{{ path('vehicle_edit', {'id': vehicle.id}) }}"><i
                            class="fas fa-edit"></i></a>#}
                  {#{{ include('vehicle/_delete_form.html.twig') }}#}
                </td>
              </tr>
            {% else %}
              <tr>
                <td class="text-center text-bold" colspan="4">Aucun véhicule trouvé</td>
              </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
              <th>&ensp;Marque</th>
              <th class="text-center">Châssis</th>
              <th class="text-center">Arrivé le</th>
              <th class="text-right">Action&ensp;</th>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    {#<div class="card-footer">
        Footer
    </div>#}
  </div>
{% endblock %}

