{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <h1>Vehicle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicle.id }}</td>
            </tr>
            <tr>
                <th>Chassis</th>
                <td>{{ vehicle.chassis }}</td>
            </tr>
            <tr>
                <th>PutInUseAt</th>
                <td>{{ vehicle.putInUseAt ? vehicle.putInUseAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CameAt</th>
                <td>{{ vehicle.cameAt ? vehicle.cameAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Consignee</th>
                <td>{{ vehicle.consignee }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vehicle_index') }}">back to list</a>

    <a href="{{ path('vehicle_edit', {'id': vehicle.id}) }}">edit</a>

    {{ include('vehicle/_delete_form.html.twig') }}
{% endblock %}
