<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .table td, .table th {
      padding: .25rem;
      vertical-align: top;
      border-top: none;
    }

    .table-sm td, .table-sm th {
      padding: .2rem
    }
    .title-fiche {
      font-family: Arial, Helvetica, serif;
    }
  </style>
</head>
<body>
{% set top=-433 %}
{% for i in 1..3 %}
  {% set top=top+440 %}
  <div class="container text-center">
    <div style="position: absolute; top: {{ top }}px; left: 29px" class="logo-content text-left">
      <img src="{{ absolute_url(asset('img/print/logo.png')) }}" alt="logo"><br>
      <img style="width: 99%; height: auto;" src="{{ absolute_url(asset('img/print/contact.png')) }}" alt="logo">
    </div>
    <div class="col-md-10 offset-md-1 text-center">
      <h3 class="text-bold mb-0">REPUBLIC DU BENIN</h3>
      <p class="mt-0 mb-0">****_****</p>
      <p class="h4 mt-0 mb-0">Filière des Véhicules d'Occasion</p>
      <p class="mb-0 mt-0">****_****</p>
      <h4 class="title-fiche" style="color: #1fc8e3;text-decoration: underline; text-underline-position: under;">
        <b>ATTESTATION DE SOUSCRIPTION DE POLICE<br>
          D'ASSURANCES ET TRANSFERT</b>
      </h4>
      <table class="table table-borderless">
        <tr class="text-left">
          <td width="50%" colspan="3">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<b>Parc :</b> {{ transfer.manager.fleet.name }}</td>
          <td width="50%" colspan="3">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<b>P/C :</b> {{ transfer.vehicle.importer.name }}</td>
        </tr>
        <tr class="text-left">
          <td colspan="2"><b>Marque :</b> {{ transfer.vehicle.brand.name }}</td>
          <td colspan="2"><b>Châssis complet :</b> {{ transfer.vehicle.chassis }}</td>
          <td colspan="2"><b>Date :</b> {{ transfer.vehicle.putInUseAt|date('d/m/Y') }}</td>
        </tr>
        <tr class="text-left"><td colspan="2"><b>Navire :</b> {{ transfer.vehicle.ship.name }}</td>
          <td colspan="2"><b>Date d’arrivée :</b> {{ transfer.vehicle.cameAt|date('d/m/Y') }}</td>
          <td colspan="2"><b>Consignataire :</b> {{ transfer.vehicle.consignee }}</td>
        </tr>
        <tr class="text-left">
          <td colspan="3">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<b>Date :</b> {{ transfer.createdAt|date('d/m/Y') }}</td>
          <td class="text-left" colspan="3">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<b>Référence :</b> {{ ref }}</td>
        </tr>
      </table>
      <p class="text-center"><u>Signatures</u></p>
      <div class="row pt-4">
        <div class="col-md-12 text-justify">
          <p class="h5">
            <b><u>L’Administration Délégué</u></b>
            <span class="float-right"><b><u>Contrôleur Général</u></b>&ensp;&ensp;&ensp;&ensp;&ensp;</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  {% if i<3 %}
    <p style="margin-bottom: 0; padding-bottom: 0;" class="text-center">………………………………………………………………………………………………………………………………………………………..……</p>
  {% endif %}
{% endfor %}
</body>
</html>
