{% extends 'base-admin.html.twig' %}

{% block title %}Traitement de demande{% endblock %}

{% block page_title %}Traitement{% endblock %}
{% block page_title2 %}Traitement{% endblock %}
{% block page_subtitle %}Demande de Transfert{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('transfer_treatment') }}
{% endblock %}

{% block page_content %}
    <div class="row pb-3">
        <div class="col-12 col-sm-12 col-md-12">
            <a class="btn btn-default" href="{{ path('staff_transfer_index') }}"><i class="fas fa-reply"></i> Les Demandes de Transfert</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-edit"></i> Traitement : Demande de Transfert</h3>
          {#<div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fas fa-times"></i></button>
          </div>#}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 offset-md-3 offset-sm-2">
                  {% include 'transfer/show_table.html.twig' %}
                </div>
              <div class="row">
                <img src="{{ asset(metadata) }}" alt="d">
              </div>
                <div class="col-12 col-sm-8 col-md-6 offset-md-3 offset-sm-2">
                  <button id="transfert-verdict-reject" data-id="{{ transfer.id }}" class="btn btn-danger float-left"><i class="fas fa-times"></i> Rejeter</button>
                  {# TODO: Mettre en place le confirm pour l'approval #}
                  <a onclick="alert('Approuver la demande génère la fiche de demande. Le téléchargement du fichier sera lancé en même temps')" id="transfert-verdict-accept" href="{{ path('staff_approval_transfer', {id: transfer.id}) }}" class="btn btn-success float-right"><i class="fas fa-check"></i> Approuver</a>
                </div>
            </div>
        </div>
      {#<div class="card-footer">
          Footer
      </div>#}
    </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('transfer_treatment') }}
{% endblock %}