{% extends 'base-admin.html.twig' %}

{% block title %}Demande{% endblock %}

{% block page_title %}Transfert{% endblock %}
{% block page_title2 %}Transfert{% endblock %}
{% block page_subtitle %}Demande de Transfert{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('transfer') }}
{% endblock %}

{% block page_content %}
  {#Search est definit si on vient ici à parti d'une recherche#}
  {% if search is not defined %}
    <div class="row pb-3">
      <div class="col-12 col-sm-12 col-md-12">
        <a class="btn btn-default" href="{{ path('transfer_index') }}"><i class="fas fa-reply"></i> Mes Demandes en Attente</a>
      </div>
    </div>
  {% endif %}

    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-eye"></i> Demande de Transfert</h3>
          {#<div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fas fa-times"></i></button>
          </div>#}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 offset-md-3 offset-sm-2">


                    {% include 'transfer/show_table.html.twig' %}


                </div>
              {% if search is not defined %}
                <div class="col-12 col-sm-8 col-md-6 offset-md-3 offset-sm-2">
                  {% if transfer.status != 'finalized' %}

                    {{ include('transfer/_delete_form.html.twig', {label: 'Annuler la demande'}) }}

                    {% if transfer.status != 'waiting' and transfer.status != 'rejected' %}
                      <button disabled title="Seulement les demandes en attentes peuvent être modifiées" class="btn btn-primary float-right"><i class="fas fa-edit"></i> Modifier la demande</button>
                    {% else %}
                      <a class="btn btn-primary float-right" href="{{ path('transfer_edit', {'id': transfer.id}) }}"><i class="fas fa-edit"></i> Modifier la demande</a>
                    {% endif %}
                  {% endif %}
                </div>
              {% endif %}
            </div>
        </div>
      {#<div class="card-footer">
          Footer
      </div>#}
    </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('transfer') }}
{% endblock %}