{% extends 'base.html.twig' %}

{% block title %}Processing index{% endblock %}

{% block body %}
    <h1>Processing index</h1>

    <table class="table table-responsive-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Verdict</th>
                <th>Reason</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for processing in processings %}
            <tr>
                <td>{{ processing.id }}</td>
                <td>{{ processing.verdict ? 'Yes' : 'No' }}</td>
                <td>{{ processing.reason }}</td>
                <td>
                    <a href="{{ path('processing_show', {'id': processing.id}) }}">show</a>
                    <a href="{{ path('processing_edit', {'id': processing.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('processing_new') }}">Create new</a>
{% endblock %}
