<!--
@@      @@      @@@@@@@@      @@            @@@@@@           @@@@@@@@     @@@@           @@@@
@@@     @@      @@@@@@@@      @@            @@  @@@@         @@@@@@@@      @@             @@
@@@@@   @@      @@            @@            @@    @@@@       @@             @@           @@
@@ @@@  @@      @@@@          @@            @@     @@@@      @@@@            @@         @@
@@  @@@ @@      @@@           @@            @@       @@      @@@              @@       @@
@@   @@@@@      @@@@          @@            @@       @@      @@@@              @@     @@
@@    @@@@      @@            @@            @@    @@@@       @@                 @@   @@
@@     @@@      @@@@@@@@      @@@@@@@@@     @@  @@@@         @@@@@@@@            @@ @@
@@      @@      @@@@@@@@      @@@@@@@@@     @@@@@@           @@@@@@@@             @@@

  Analyst Programmer, ready to transform even your crazies ideas into an application
                        [ https://marnelfr.github.io ]
-->
<!DOCTYPE html>
<html class="" style="height: auto;">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{% endblock %} | USAT-Benin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
    {{ encore_entry_script_tags('menu') }}
  {% endblock %}
</head>

<body class="sidebar-mini" style="height: auto;">
  <div class="wrapper">
    {% include 'includes/nav.html.twig' %}

    {% include 'menu/menu.html.twig' %}

    <div class="content-wrapper">

      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>{% block page_title %}{% endblock %} <small class="small" style="color: #777">{% block page_subtitle %}{% endblock %}</small></h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{{ path('home_page') }}"><i class="fas fa-home"></i> Accueil</a></li>
                <li class="breadcrumb-item active">{% block page_title2 %}{% endblock %}</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      {% include 'includes/messages.html.twig' %}

      <section class="content">
        {% block page_content %}
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Title</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fas fa-times"></i></button>
              </div>
            </div>
            <div class="card-body">
              Start creating your amazing application!
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              Footer
            </div>
            <!-- /.card-footer-->
          </div>
        {% endblock %}
      </section>
    </div>

    {% include 'includes/footer.html.twig' %}

    {#Permet de savoir la route courrante#}
    <input type="hidden" id="current_sid_token" value="{{ app.request.get('_route')|md5 }}">
  </div>

  {% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
  {% endblock %}
</body>
</html>