{% extends 'base-admin.html.twig' %}

{% block title %}Demandes {{ title }}{% endblock %}

{% block page_title %}Enlevement{% endblock %}
{% block page_title2 %}Enlevement{% endblock %}
{% block page_subtitle %}Demandes {{ title }}{% endblock %}
{#{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('removal_treatment') }}
{% endblock %}#}

{% block page_content %}
  <div class="row pb-3">
    <div class="col-12 col-sm-12 col-md-12">
      <a class="btn btn-default" href="{{ path('security_check_user_profil') }}"><i class="fas fa-reply"></i> Tableau de bord</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title"><i class="fas fa-list"></i> Liste de Demandes</h3>
      {#<div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
      </div>#}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
          <table class="table table-responsive">
            <thead>
            <tr>
              <th>&ensp;Véhicule</th>
              <th class="text-center">Parc de sortie</th>
              <th class="text-center">Date de demande</th>
              <th class="text-center">Status</th>
              <th class="text-right">Actions&ensp;</th>
            </tr>
            </thead>
            <tbody>
            {% for removal in removals %}
              <tr>
                <td>{{ removal.vehicle.brand.name ~ ' - ' ~ removal.vehicle.chassis }}</td>
                <td class="text-center">{{ removal.fleet.name }}</td>
                <td class="text-center">{{ removal.createdAt ? removal.createdAt|date('d/m/Y à H:i:s') : '' }}</td>
                <td class="text-center">{{ removal.status == 'finalized' ? removal.state|raw : removal.state }}</td>
                <td class="text-right">
                  {% if removal.status == 'finalized' %}
                    <button disabled="disabled" title="En cours de codage" class="btn btn-primary"><i class="fas fa-eye"></i></button>
                  {% else %}
                    <button
                            {% if (removal.status != 'waiting') %}title="La demande est déjà en cours de traitement"{% endif %}
                            class="btn {% if (removal.status != 'waiting' and removal.status != 'finalized') %}btn-warning{% else %}btn-primary{% endif %} removal-start-treatment"
                            data-href="{{ path(btnPath, {'id': removal.id}) }}"
                            title="Commencer le traitement de la demande"
                    ><i class="fas fa-edit"></i> {{ btnLabel }}</button>
                  {% endif %}
                </td>
              </tr>
            {% else %}
              <tr>
                <td class="text-center text-bold" colspan="5">{{ noData }}</td>
              </tr>
            {% endfor %}
            </tbody>
            <thead>
            <tr>
              <th>&ensp;Véhicule</th>
              <th class="text-center">Parc de sortie</th>
              <th class="text-center">Date de demande</th>
              <th class="text-center">Status</th>
              <th class="text-right">Actions&ensp;</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    {#<div class="card-footer">
        Footer
    </div>#}
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('removal_treatment') }}
{% endblock %}