<li class="nav-item">
  <a href="{{ path(dashboard_path) }}" id="{{ dashboard_path|md5 }}" class="nav-link">
    <i class="nav-icon fas fa-tachometer-alt"></i>
    <p>
      Tableau de bord
    </p>
  </a>
</li>

{% if app.user.profil.slug == 'manager' %}
  {#Transfert de vehicule#}
  <li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-circle"></i>
      <p>
        Transfert de véhicule
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{{ path('transfer_new') }}" id="{{ 'transfer_new'|md5 }}" class="nav-link">
          <i class="fas fa-plus-circle nav-icon"></i>
          <p>Nouvelle demande</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ path('transfer_index') }}" id="{{ 'transfer_index'|md5 }}" class="nav-link">
          <i class="fas fa-list nav-icon"></i>
          <p>Demandes en attente</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ path('transfer_index_inprogress') }}" id="{{ 'transfer_index_inprogress'|md5 }}" class="nav-link">
          <i class="fas fa-list nav-icon"></i>
          <p>Demandes en cours</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ path('transfer_index_rejected') }}" id="{{ 'transfer_index_rejected'|md5 }}" class="nav-link">
          <i class="fas fa-list nav-icon"></i>
          <p>Demandes rejetés</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ path('transfer_index_finalized') }}" id="{{ 'transfer_index_finalized'|md5 }}" class="nav-link">
          <i class="fas fa-list nav-icon"></i>
          <p>Demande finalisés</p>
        </a>
      </li>
    </ul>
  </li>
  {#</li>#}
{% endif %}


{% if app.user.profil.slug == 'agent' %}
  {#Transfert de vehicule#}
  <li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-circle"></i>
      <p>
        Enlèvement de véhicule
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{{ path('removal_new') }}" id="{{ 'removal_new'|md5 }}" class="nav-link">
          <i class="fas fa-plus-circle nav-icon"></i>
          <p>Nouvelle demande</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ path('removal_index') }}" id="{{ 'removal_index'|md5 }}" class="nav-link">
          <i class="fas fa-list nav-icon"></i>
          <p>Demandes en attente</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ path('removal_index_inprogress') }}" id="{{ 'removal_index_inprogress'|md5 }}" class="nav-link">
          <i class="fas fa-list nav-icon"></i>
          <p>Demandes en cours</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ path('removal_index_rejected') }}" id="{{ 'removal_index_rejected'|md5 }}" class="nav-link">
          <i class="fas fa-list nav-icon"></i>
          <p>Demandes rejetés</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ path('removal_index_finalized') }}" id="{{ 'removal_index_finalized'|md5 }}" class="nav-link">
          <i class="fas fa-list nav-icon"></i>
          <p>Demande finalisés</p>
        </a>
      </li>
    </ul>
  </li>

  {#Importateur#}
  <li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p>
        Mes enleveurs
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{{ path('remover_new') }}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Nouveau enleveur</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ path('remover_index') }}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Liste des enleveurs</p>
        </a>
      </li>
    </ul>
  </li>

{% endif %}


{% if app.user.profil.slug == 'manager' or app.user.profil.slug == 'agent' %}
  {#Importateur#}
  <li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p>
        Mes importateurs
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{{ path('importer_new') }}" id="{{ 'importer_new'|md5 }}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Nouveau importateur</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ path('importer_index') }}" id="{{ 'importer_index'|md5 }}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Liste des importateurs</p>
        </a>
      </li>
    </ul>
  </li>

  {#Vehicule#}
  <li class="nav-item">
    <a href="{{ path('vehicle_index') }}" id="{{ 'vehicle_index'|md5 }}" class="nav-link">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p>
        Mes véhicules
        {#<i class="right fas fa-angle-left"></i>#}
      </p>
    </a>
  </li>
{% endif %}


{% if app.user.profil.slug == 'staff' or app.user.profil.slug == 'controller' or app.user.profil.slug == 'staff_admin' %}
  <li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p>
        Transfert
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{{ path('staff_transfer_index') }}" id="{{ 'staff_transfer_index'|md5 }}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Demandes en attente</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ path('staff_transfer_inprogress') }}" id="{{ 'staff_transfer_inprogress'|md5 }}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Demandes en encours</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ path('staff_transfer_finalized') }}" id="{{ 'staff_transfer_finalized'|md5 }}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Demandes finalisées</p>
        </a>
      </li>
    </ul>
  </li>


  <li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p>
        Enlevement
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{{ path('staff_removal_index') }}" id="{{ 'staff_removal_index'|md5 }}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Demandes en attente</p>
        </a>
      </li>
      {#<li class="nav-item">
        <a href="{{ path('staff_removal_inprogress') }}" id="{{ 'staff_removal_inprogress'|md5 }}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Demandes en encours</p>
        </a>
      </li>#}
      <li class="nav-item">
        <a href="{{ path('staff_removal_finalized') }}" id="{{ 'staff_removal_finalized'|md5 }}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Demandes finalisées</p>
        </a>
      </li>
    </ul>
  </li>
{% endif %}


{% if app.user.profil.slug == 'staff_admin' %}
  <li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-users"></i>
      <p>
        Utilisateur
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{{ path('user_new') }}" id="{{ 'user_new'|md5 }}" class="nav-link">
          <i class="fas fa-plus-circle nav-icon"></i>
          <p>Nouveau Utilisateur</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ path('user_index') }}" id="{{ 'user_index'|md5 }}" class="nav-link">
          <i class="fas fa-list nav-icon"></i>
          <p>Liste des utilisateurs</p>
        </a>
      </li>
    </ul>
  </li>
{% endif %}


{% if app.user.profil.slug == 'admin' %}

{% endif %}

{#<!-- Niveau 2 -->
<li class="nav-item has-treeview">
  <a href="#" class="nav-link">
    <i class="nav-icon fas fa-tachometer-alt"></i>
    <p>
      Time line
      <i class="right fas fa-angle-left"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a href="file:///D:/Web/AdminLTE-3.0.5/pages/charts/flot.html" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Flot</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="file:///D:/Web/AdminLTE-3.0.5/pages/charts/inline.html" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Inline</p>
      </a>
    </li>
  </ul>
</li>

<!-- Niveau 3 -->
<li class="nav-item has-treeview">
  <a href="file:///D:/Web/AdminLTE-3.0.5/pages/examples/blank.html#" class="nav-link">
    <i class="nav-icon fas fa-circle"></i>
    <p>
      Level 1
      <i class="right fas fa-angle-left"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a href="file:///D:/Web/AdminLTE-3.0.5/pages/examples/blank.html#" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Level 2</p>
      </a>
    </li>
    <li class="nav-item has-treeview">
      <a href="file:///D:/Web/AdminLTE-3.0.5/pages/examples/blank.html#" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>
          Level 2
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="file:///D:/Web/AdminLTE-3.0.5/pages/examples/blank.html#" class="nav-link">
            <i class="far fa-dot-circle nav-icon"></i>
            <p>Level 3</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="file:///D:/Web/AdminLTE-3.0.5/pages/examples/blank.html#" class="nav-link">
            <i class="far fa-dot-circle nav-icon"></i>
            <p>Level 3</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="file:///D:/Web/AdminLTE-3.0.5/pages/examples/blank.html#" class="nav-link">
            <i class="far fa-dot-circle nav-icon"></i>
            <p>Level 3</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="file:///D:/Web/AdminLTE-3.0.5/pages/examples/blank.html#" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Level 2</p>
      </a>
    </li>
  </ul>
</li>#}

{#
<li class="nav-item has-treeview menu-open">
  <a href="file:///D:/Web/AdminLTE-3.0.5/pages/examples/blank.html#" class="nav-link active">
    <i class="nav-icon far fa-plus-square"></i>
    <p>
      Extras
      <i class="fas fa-angle-left right"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a href="file:///D:/Web/AdminLTE-3.0.5/pages/examples/login.html" class="nav-link active">
        <i class="far fa-circle nav-icon"></i>
        <p>Login</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="file:///D:/Web/AdminLTE-3.0.5/pages/examples/register.html" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Register</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="file:///D:/Web/AdminLTE-3.0.5/pages/examples/forgot-password.html" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Forgot Password</p>
      </a>
    </li>
  </ul>
</li>#}



{% if change_password == true %}
  {#Utiliser pour savoir s'il faut forcer l'utilisateur à changer de mot de passe ou pas#}
  {#Dès qu'on détecte la présence de cet input avec ce id dans le dom, on lance un script qui est dans admin.js#}
  <input type="hidden" id="e84nel915737a83ea2a59627de15bc521">
{% endif %}