<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{{ path('home_page') }}" class="brand-link navbar-lightblue">
    <span class="brand-text font-weight-light">USAT-BENIN</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      {% if app.user.compagny is defined %}
        <div class="image pt-2" style="padding-top: 0.75em !important;">
          <img src="{{ asset(app.user.username|dp) }}" style="height: 34px;" class="user-image img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ app.user.fullname }}<br>{{ app.user.compagny }}</a>
        </div>
      {% else %}
        <div class="image">
          <img src="{{ asset(app.user.username|dp) }}" style="height: 34px;" class="user-image img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ app.user.fullname }}</a>
        </div>
      {% endif %}
    </div>
    <div class="user-panel mt-1 pb-3 mb-4 pl-3 d-flex menu-header">
      MENU PRINCIPAL
    </div>

    <!-- Niveau 1 -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-legacy nav-flat" data-widget="treeview" role="menu" data-accordion="false">

        {{ render(controller('App\\Controller\\MenuController::menu')) }}

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>