{% extends 'base-admin.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block page_title %}Utilisateur{% endblock %}
{% block page_title2 %}Utilisateur{% endblock %}
{% block page_subtitle %}Liste{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('user') }}
{% endblock %}

{% block page_content %}
  <div class="row pb-3">
    <div class="col-12 col-sm-12 col-md-12">
      <a class="btn btn-default" href="{{ path('user_new') }}"><i class="fas fa-plus-circle"></i> Nouveau
        Utilisateur</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title"><i class="fas fa-list"></i> Liste des Utilisateurs</h3>
      {#<div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
      </div>#}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
          <table class="datatable table table-responsive-sm">
            <thead>
            <tr>
              <th>&ensp;Nom</th>
              <th class="text-center">N° Téléphone</th>
              <th class="text-center">Roles</th>
              <th class="text-center">Status</th>
              <th class="text-center">Dernière vue</th>
              <th class="text-right">Actions&ensp;</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
              <tr>
                <td>{{ user.fullname }}</td>
                <td class="text-center">{% if user.phone %}
                    {{ user.phone }}
                  {% else %}
                    -
                  {% endif %}</td>
                {# TODO: Mettre en place dans la table profile le role staff_admin #}
                {#<td>{{ user.roles ? user.roles|json_encode : '' }}</td>#}
                <td class="text-center">{{ user.profil.name }}</td>
                <td class="text-center">{{ user.status ? 'Actif' : 'Bloqué' }}</td>
                <td class="text-center">{{ user.lastConnection ? user.lastConnection|date('d/m/Y') ~ ' à ' ~ user.lastConnection|date('H:i:s') : 'Jamais connecté' }}</td>
                <td class="text-right">
                  <a class="btn btn-primary" title="Afficher toutes les informations"
                     href="{{ path('user_show', {'id': user.id}) }}"><i class="fas fa-eye"></i></a>
                  {#<a class="btn btn-primary" title="Editer les informations"
                     href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-edit"></i></a>#}
                  {{ include('user/_delete_form.html.twig') }}
                </td>
              </tr>
            {% else %}
              <tr>
                <td colspan="14">Aucun utilisateur trouvé</td>
              </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
              <th>&ensp;Nom</th>
              <th class="text-center">N° Téléphone</th>
              <th class="text-center">Roles</th>
              <th class="text-center">Status</th>
              <th class="text-center">Dernière vue</th>
              <th class="text-right">Actions&ensp;</th>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    {#<div class="card-footer">
        Footer
    </div>#}
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('user') }}
{% endblock %}
